backports.statistics==0.1.0
Cython==0.29.23
dl==0.1.0
ipaddr==2.2.0
keyring==22.3.0
matplotlib==3.3.4
mypy_extensions==0.4.3
networkx==2.5
numpy==1.18.5
ordereddict==1.1
pandas==1.0.5
pyvis==0.1.9
pywin32==227
streamlit==1.4.0
streamlit_agraph==0.0.37
wincertstore==0.2.1
